body {
  margin: auto;
  max-width: 1280px;
  background-color: lightgoldenrodyellow;
}

.todoListContainer {
  margin: auto;
  max-width: 600px;
  background-color: lightgray;
  text-align: center;
}

.todoList {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px;
  margin: 0;
}

.todoListItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteButton {
  padding: 5px;
}

.checkedBoxText {
  text-decoration: line-through;
}

.checkedBoxStyle {
  opacity: 0.5;
  transition: all 0.3s;
}
